
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #CCA315;
}

.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fae6e1;
}

.imageContainer {
  float: left;
  width: 620px;
}

.textContainer {
  float: left;
  width: 200px;
  margin-left: 40px;
  margin-top: 1px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Mr De Haviland', cursive;
  font-size: 84px;
  color: #664209;
  margin-bottom: 10px;
}

p, li {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  color: #99642C;
  margin-top: 1px;
}




/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,
   but is needed to wrap the pageContainer
   around any sized content that is floated within it. */

.pageContainer:after {
  content: " ";
  display: table;
  clear: both;
}
